.fh-16{
    width: 16px;
    height: 16px;
}
.fh-24{
    width: 24px;
    height: 24px;
}
.fh-32{
    width: 32px;
    height: 32px;
}

i {
    vertical-align: middle #{!important};
}

[class^="bi-"]::before, [class*=" bi-"]::before {
    line-height: 1.5 #{!important};
}