.choices__inner {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background-color: #f9f9f9;
    padding: 6px 6px 3.75px;
    border: 1px solid #ddd;
    border-radius: 2.5px;
    font-size: 14px;
    min-height: 32px;
    overflow: hidden;
}

.choices[data-type*=select-one] {
    .choices__inner {
        padding-bottom: 2px;
    }
}