        <!-- sidebar -->
        <div class="sidebar">
            <div class="sidebar-wrapper">
                <div class="sidebar-header">
                    <a href="#" class="sidebar-brand toggle-sidebar-menu">
                        <i class="logo bi bi-app-indicator"></i>
                        <span class="text">E-POS Admin</span>
                        <i data-feather="chevron-right"></i>
                    </a>
                </div>
                <div class="sidebar-menu-wrapper">
                    <div class="sidebar-menu">
                        <ul class="menu">
                            
                                
                                    <li class="item ">
                                        <a href="index.html">
                                            <i data-feather="home"></i>
                                            <span>Dashboard</span>
                                        </a>
                                    </li>
                                
                            
                                
                                    <li class="item dropdown">
                                        <div class="item">
                                            <a href="#">
                                                <i data-feather="credit-card"></i>
                                                <span>Sales</span>
                                            </a>
                                        </div>
                                        <div class="dropdown menu">
                                            <ul class="menu">
                                                
                                                    <li class="dropdown item ">
                                                        <a href="sales-invoices.html">Invoices</a>
                                                    </li>
                                                
                                                    <li class="dropdown item ">
                                                        <a href="sales-customers.html">Customers</a>
                                                    </li>
                                                
                                                    <li class="dropdown item ">
                                                        <a href="sales-product-services.html">Product Services</a>
                                                    </li>
                                                
                                            </ul>
                                        </div>
                                    </li>
                                
                            
                                
                                    <li class="item dropdown">
                                        <div class="item">
                                            <a href="#">
                                                <i data-feather="shopping-cart"></i>
                                                <span>Purchases</span>
                                            </a>
                                        </div>
                                        <div class="dropdown menu">
                                            <ul class="menu">
                                                
                                                    <li class="dropdown item ">
                                                        <a href="purchases-bills.html">Bills</a>
                                                    </li>
                                                
                                                    <li class="dropdown item ">
                                                        <a href="purchases-vendors.html">Vendors</a>
                                                    </li>
                                                
                                                    <li class="dropdown item ">
                                                        <a href="purchases-product-services.html">Product Services</a>
                                                    </li>
                                                
                                            </ul>
                                        </div>
                                    </li>
                                
                            
                                
                                    <li class="item dropdown">
                                        <div class="item">
                                            <a href="#">
                                                <i data-feather="dollar-sign"></i>
                                                <span>Accounting</span>
                                            </a>
                                        </div>
                                        <div class="dropdown menu">
                                            <ul class="menu">
                                                
                                                    <li class="dropdown item ">
                                                        <a href="accounting-transactions.html">Transactions</a>
                                                    </li>
                                                
                                                    <li class="dropdown item ">
                                                        <a href="accounting-chart-accounts.html">Chart of Accounts</a>
                                                    </li>
                                                
                                            </ul>
                                        </div>
                                    </li>
                                
                            
                                
                                    <li class="item dropdown">
                                        <div class="item">
                                            <a href="#">
                                                <i data-feather="pie-chart"></i>
                                                <span>Reports</span>
                                            </a>
                                        </div>
                                        <div class="dropdown menu">
                                            <ul class="menu">
                                                
                                                    <li class="dropdown item ">
                                                        <a href="reports-profit-loss.html">Profit &amp; Loss</a>
                                                    </li>
                                                
                                                    <li class="dropdown item ">
                                                        <a href="reports-balance-sheet.html">Balance Sheet</a>
                                                    </li>
                                                
                                                    <li class="dropdown item ">
                                                        <a href="reports-cash-flow.html">Cash Flow</a>
                                                    </li>
                                                
                                                    <li class="dropdown item ">
                                                        <a href="reports-account-balance.html">Account Balance</a>
                                                    </li>
                                                
                                                    <li class="dropdown item ">
                                                        <a href="reports-account-transactions.html">Account Transactions</a>
                                                    </li>
                                                
                                            </ul>
                                        </div>
                                    </li>
                                
                            
                                
                                    <li class="item ">
                                        <a href="setting.html">
                                            <i data-feather="settings"></i>
                                            <span>Setting</span>
                                        </a>
                                    </li>
                                
                            
                        </ul>
                    </div>
                </div>
                <!-- <div class="sidebar-footer mx-2 my-2 text-center">
                    <img src="../dist/img/illustrations/3.svg" alt="Illustration" width="170px" class="d-inline">
                </div> -->
            </div>
        </div>
        <!-- sidebar:end -->
        <!-- navbar-mobile -->
        <div class="navbar-mobile">
            <ul class="menu">
                <li class="item">
                    <a href="#" class="toggle-sidebar">
                        <i data-feather="menu"></i>
                        Menu
                    </a>
                </li>
                <li class="item">
                    <a href="#">E-POS Admin</a>
                </li>
            </ul>
        </div>
        <!-- navbar-mobile:end -->
        <!-- menu-extend -->
        <div class="sidebar-menu">
            <div class="menu-header">
                <button class="toggle-sidebar-menu">
                    <i class="bi bi-x"></i>
                </button>
                <div class="brand">Your Account</div>
            </div>
            <div class="menu-wrapper">
                <ul>
                    <li><a href="#">Personal</a></li>
                    <li><a href="#">Retail 2</a></li>
                </ul>
            </div>
            <div class="menu-add">
                <a href="#" class="">
                    <i class="bi bi-plus" style="font-size: 1rem;"></i>
                    Create a new bussiness
                </a>
            </div>
            <div class="menu-action">
                <p>
                    You're signed in as <b>test.chotoni123@gmail.com.</b>
                </p>
                <a href="" class="link-primary">
                    <i class="bi bi-person-square" style="font-size: 1rem;"></i>
                    Manage your profile
                </a>
                <a href="" class="link-primary">
                    <i class="bi bi-box-arrow-right" style="font-size: 1rem;"></i>
                    Sign out
                </a>
            </div>
            <div class="menu-footer">
                <a href="#">Terms</a>
                <span>•</span>
                <a href="#">Privacy</a>
            </div>
        </div>
        <!-- menu-extend:end -->
