{% set title = 'Accounting - Transactions' %}
{% set filename = 'accounting-transactions' %}
{% extends 'layouts/dashboard.html' %}

{% block content %}
    <div class="container">
        <!-- content-header -->
        <div class="content-header">
            <div class="tw-flex tw-justify-between">
                <div class="title">
                    Transactions
                </div>
                <div class="actions">
                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Create
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="accounting-transactions.html">Add income</a></li>
                            <li><a class="dropdown-item" href="accounting-transactions.html">Add expense</a></li>
                            <li><a class="dropdown-item" href="accounting-transactions.html">Add journal transaction</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item">Accounting</li>
                    <li class="breadcrumb-item active" aria-current="page">Transactions</li>
                </ol>
            </nav>
        </div>
        <!-- content-header:end -->
        <!-- content -->
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <!-- table -->
                    <div class="mt-2">
                        <table id="table-invoices" class="table table-hover table-stripped"></table>
                    </div>
                </div>
            </div>
        </div>
        <!-- content:end -->
    </div>
{% endblock %}


{% block stylesPlugin %}
    <!-- style:plugin -->
    <!-- <link rel="stylesheet" href="../vendor/datatables/css/jquery.dataTables.min.css"> -->
    <link rel="stylesheet" href="../vendor/datatables/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="../vendor/datatables/css/responsive.css">
    <link rel="stylesheet" href="../vendor/choices.js/styles/choices.min.css">
    <link rel="stylesheet" href="../vendor/pikaday/css/pikaday.css">    
{% endblock %}

{% block scriptsPlugin %}
    <!-- script:plugin -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="../vendor/datatables/js/dataTables.bootstrap5.min.js"></script>
    <script src="../vendor/datatables/js/responsive.js"></script>
{% endblock %}

{% block scripts %}
    <!-- script:page - you can remove this -->
    <script>
        // datatables
        const initTable = () => {
            $('#table-invoices').DataTable({
                responsive: true,
                autoWidth: false,
                order: [[0, 'asc']],
                columnDefs: [
                    { orderable: false, targets: [4] }
                ],
                columns: [
                    { title: '#', data: 'id', render: (data, type, row, meta) => meta.row + meta.settings._iDisplayStart + 1 },
                    { title: 'Name', data: 'name' },
                    { title: 'Email', data: 'email' },
                    { title: 'Phone', data: 'phone' },
                    {
                        title: 'Actions',
                        data: null,
                        render: (data, type, row) => `
                        <div>
                            <a href="purchases-vendors-edit.html" class="btn btn-sm btn-outline-warning">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-danger">
                                <i class="bi bi-trash"></i>
                            </a>
                        </div>
                        `
                    },
                ],
                data: [
                    {
                        id: 1,
                        name: 'Vendor 1',
                        phone: '0895337617550',
                        email: 'adian@mail.com'
                    },
                    {
                        id: 2,
                        name: 'Vendor 2',
                        phone: '123124981278',
                        email: 'alfian@mail.com'
                    }
                ]
            });
        }


        // init
        document.addEventListener('DOMContentLoaded', function () {
            initTable()
        })
    </script>
{% endblock %}