{% set title = 'Accounting - Transactions - Journal - Create' %}
{% set filename = 'accounting-transactions-journal' %}
{% extends 'layouts/dashboard.html' %}


{% block content %}
    <div class="container">
        <!-- content-header -->
        <div class="content-header">
            <div class="tw-flex tw-justify-between">
                <div class="title">
                    Add Journal
                </div>
                <div class="actions">
                    <a href="accounting-transactions.html" class="btn btn-primary">
                        Save and Continue
                    </a>
                </div>
            </div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item">Accounting</li>
                    <li class="breadcrumb-item"><a href="accounting-transactions.html">Transactions</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Create</li>
                </ol>
            </nav>
        </div>
        <!-- content-header:end -->
        <!-- content -->
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <div class="mt-2">
                        <div class="form-group row my-2">
                            <label class="col-sm-4 col-form-label text-md-end">Description</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Write a Description...">
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <label class="col-sm-4 col-form-label text-md-end">Date</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fh-16" data-feather="calendar"></i></span>
                                    <input id="input-date" type="text" class="form-control datepicker" placeholder="Date...">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <label class="col-sm-4 col-form-label text-md-end">Note</label>
                            <div class="col-md-4">
                                <textarea cols="30" rows="10" class="form-control"></textarea>
                            </div>
                        </div>
                        <hr>
                        <div class="row mt-4">
                            <div class="col-md-4 offset-md-4">
                                <div class="text-start mb-2">
                                    <a href="#" class="btn btn-sm btn-outline-secondary">
                                        Add Debit
                                    </a>
                                    <a href="#" class="btn btn-sm btn-outline-secondary">
                                        Add Credit
                                    </a>
                                </div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="5%">#</th>
                                            <th width="47.5%" class="text-center">Debits</th>
                                            <th width="47.5%" class="text-center">Credits</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td colspan="2">
                                                <select class="choices form-select select-categories mb-1"></select>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="input-group">
                                                            <span class="input-group-text"><span class="tw-text-sm">Rp</span></span>
                                                            <input type="number" class="form-control debit-input form-control-sm" min="0" value="0">
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td colspan="2">
                                                <select class="choices form-select select-categories mb-1"></select>
                                                <div class="row">
                                                    <div class="col-md-6 offset-md-6">
                                                        <div class="input-group">
                                                            <span class="input-group-text"><span class="tw-text-sm">Rp</span></span>
                                                            <input type="number" class="form-control credit-input form-control-sm" min="0" value="0">
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <!-- total -->
                                        <tr>
                                            <td colspan="3" class="text-end">
                                                Total : Rp <span id="total-span"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group row my-2">
                            <div class="col-md-4 offset-md-4">
                                <a href="accounting-transactions.html" class="btn btn-primary">
                                    Save and Continue
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content:end -->
    </div>
{% endblock %}


{% block stylesPlugin %}
    <!-- style:plugin -->
    <link rel="stylesheet" href="../vendor/choices.js/styles/choices.min.css">
    <link rel="stylesheet" href="../vendor/pikaday/css/pikaday.css">    
{% endblock %}

{% block scriptsPlugin %}
    <!-- script:plugin -->
    <script src="../vendor/choices.js/scripts/choices.min.js"></script>
    <script src="../vendor/pikaday/pikaday.js"></script>
    <script src="../vendor/moment/moment.js"></script>
{% endblock %}

{% block scripts %}
    <!-- script:page - you can remove this -->
    <script>
        const dataSeedAccount = [
            {
                value: 'uncategorize_income',
                label: 'Uncategorize Income',
                selected: true
            },
            {
                label: 'Assets',
                disabled: false,
                choices: [
                    { value: 'Cash and Bank', label: 'Cash and Bank' },
                    { value: 'Money in Transit', label: 'Money in Transit' },
                    { value: 'Expected Payments from Customers', label: 'Expected Payments from Customers' },
                    { value: 'Inventory', label: 'Inventory' },
                    { value: 'Property, Plant, Equipment', label: 'Property, Plant, Equipment' },
                    { value: 'Depreciation and Amortization', label: 'Depreciation and Amortization' },
                    { value: 'Vendor Prepayments and Vendor Credits', label: 'Vendor Prepayments and Vendor Credits' },
                    { value: 'Other Short-Term Asset', label: 'Other Short-Term Asset' },
                    { value: 'Other Long-Term Asset', label: 'Other Long-Term Asset' },
                ],
            },
            {
                label: 'liabilities & Credit Cards',
                disabled: false,
                choices: [
                    { value: 'Credit Card', label: 'Credit Card' },
                    { value: 'Loan and Line of Credit', label: 'Loan and Line of Credit' },
                    { value: 'Expected Payments from Customers', label: 'Expected Payments from Customers' },
                    { value: 'Due for Payroll', label: 'Due for Payroll' },
                    { value: 'Due to You and Other Business owners', label: 'Due to You and Other Business owners' },
                    { value: 'Customer Prepayments and Customer Credits', label: 'Customer Prepayments and Customer Credits' },
                    { value: 'Other Short-Term Liability', label: 'Other Short-Term Liability' },
                    { value: 'Other Long-Term Liability', label: 'Other Long-Term Liability' },
                ],
            },
            {
                label: 'Income',
                disabled: false,
                choices: [
                    { value: 'Income', label: 'Income' },
                    { value: 'Discount', label: 'Discount' },
                    { value: 'Other Income', label: 'Other Income' },
                ],
            },
            {
                label: 'Expenses',
                disabled: false,
                choices: [
                    { value: 'Operating Expense', label: 'Operating Expense' },
                    { value: 'Cost of Goods Sold', label: 'Cost of Goods Sold' },
                    { value: 'Payment Processing Fee', label: 'Payment Processing Fee' },
                    { value: 'Payroll Expense', label: 'Payroll Expense' },
                ],
            },
            {
                label: 'Equity',
                disabled: false,
                choices: [
                    { value: 'Business owner Contribution and Drawing', label: 'Business owner Contribution and Drawing' },
                    { value: 'Retained Earnings: Profit', label: 'Retained Earnings: Profit' },
                ],
            },
        ]

        // choice
        const initChoiceCategory = (el) => {
            var elAccountChoice = new Choices(el, { itemSelectText: '' })
            elAccountChoice.setChoices(dataSeedAccount)
        }
        const initChoices = () => {
            const els = document.querySelectorAll('.select-categories')
            els.forEach((e) => initChoiceCategory(e))
        }   

        const updateTotalCount = setInterval(() => {
            const el = document.querySelector('#total-span')
            const debits = document.querySelectorAll('.debit-input')
            const credits = document.querySelectorAll('.credit-input')
            let total = 0
            debits.forEach((e) => total += e.value)
            credits.forEach((e) => total -= e.value)
            el.innerHTML = total;
        })

        // datepicker
        const initDatepicker = () => {
            const els = document.querySelectorAll('.datepicker')
            els.forEach((el) => new Pikaday({
                field: el,
                format: 'DD-MM-YYYY',
                toString(date, format) {
                    // you should do formatting based on the passed format,
                    // but we will just return 'D/M/YYYY' for simplicity
                    const day = ('0' + date.getDate()).slice(-2);
                    const month = ('0' + (date.getMonth() + 1)).slice(-2);
                    const year = date.getFullYear();
                    return `${day}-${month}-${year}`;
                },
            }))
        }

        // actions
        const initActions = () => {
        }

        // init
        document.addEventListener('DOMContentLoaded', function () {
            initChoices()
            initDatepicker()
            initActions()
        })
    </script>
{% endblock %}