{% set title = 'Accounting - Transactions - Expense - Create' %}
{% set filename = 'accounting-transactions-expense' %}
{% extends 'layouts/dashboard.html' %}


{% block content %}
    <div class="container">
        <!-- content-header -->
        <div class="content-header">
            <div class="tw-flex tw-justify-between">
                <div class="title">
                    Add Expense
                </div>
                <div class="actions">
                    <a href="accounting-transactions.html" class="btn btn-primary">
                        Save and Continue
                    </a>
                </div>
            </div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item">Accounting</li>
                    <li class="breadcrumb-item"><a href="accounting-transactions.html">Transactions</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Create</li>
                </ol>
            </nav>
        </div>
        <!-- content-header:end -->
        <!-- content -->
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <div class="mt-2">
                        <div class="form-group row my-2">
                            <label class="col-sm-4 col-form-label text-md-end">Description</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Write a Description...">
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <label class="col-sm-4 col-form-label text-md-end">Account</label>
                            <div class="col-md-4">
                                <select id="input-account" class="choices form-select">
                                    <option value="">Choose a account---</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <label class="col-sm-4 col-form-label text-md-end">Deposit or Withdrawal</label>
                            <div class="col-md-4">
                                <select id="input-deporwith" class="choices form-select">
                                    <option value="">Select---</option>
                                    <option value="deposit">Deposit</option>
                                    <option value="withdrawal">Withdrawal</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <label class="col-sm-4 col-form-label text-md-end">Total amount</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-text"><span class="tw-text-sm">Rp</span></span>
                                    <input type="number" class="form-control" placeholder="Amount" value="0" min="0">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <label class="col-sm-4 col-form-label text-md-end">Date</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fh-16" data-feather="calendar"></i></span>
                                    <input id="input-date" type="text" class="form-control datepicker" placeholder="Date...">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <label class="col-sm-4 col-form-label text-md-end">Note</label>
                            <div class="col-md-4">
                                <textarea cols="30" rows="10" class="form-control"></textarea>
                            </div>
                        </div>
                        <hr>
                        <div class="dynamic-form">
                            <div class="customer-from" data-index="0">
                                <div class="form-group row my-2">
                                    <label class="col-sm-4 col-form-label text-md-end">Category</label>
                                    <div class="col-md-4">
                                        <select id="input-category" class="choices form-select" name="category[0]">
                                            <option value="uncategorize_income">Uncategorized Income</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 offset-md-4 row actions">
                                    <a href="#" class="add-customer tw-text-sm">Add customer</a>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group row my-2">
                            <div class="col-md-4 offset-md-4 row">
                                <a href="accounting-transactions.html" class="btn btn-primary">
                                    Save and Continue
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content:end -->
    </div>
{% endblock %}


{% block stylesPlugin %}
    <!-- style:plugin -->
    <link rel="stylesheet" href="../vendor/choices.js/styles/choices.min.css">
    <link rel="stylesheet" href="../vendor/pikaday/css/pikaday.css">    
{% endblock %}

{% block scriptsPlugin %}
    <!-- script:plugin -->
    <script src="../vendor/choices.js/scripts/choices.min.js"></script>
    <script src="../vendor/pikaday/pikaday.js"></script>
    <script src="../vendor/moment/moment.js"></script>
{% endblock %}

{% block scripts %}
    <!-- script:page - you can remove this -->
    <script>
        const dataSeedAccount = [
            {
                label: 'Assets',
                disabled: false,
                choices: [
                    { value: 'Cash and Bank', label: 'Cash and Bank' },
                    { value: 'Money in Transit', label: 'Money in Transit' },
                    { value: 'Expected Payments from Customers', label: 'Expected Payments from Customers' },
                    { value: 'Inventory', label: 'Inventory' },
                    { value: 'Property, Plant, Equipment', label: 'Property, Plant, Equipment' },
                    { value: 'Depreciation and Amortization', label: 'Depreciation and Amortization' },
                    { value: 'Vendor Prepayments and Vendor Credits', label: 'Vendor Prepayments and Vendor Credits' },
                    { value: 'Other Short-Term Asset', label: 'Other Short-Term Asset' },
                    { value: 'Other Long-Term Asset', label: 'Other Long-Term Asset' },
                ],
            },
            {
                label: 'liabilities & Credit Cards',
                disabled: false,
                choices: [
                    { value: 'Credit Card', label: 'Credit Card' },
                    { value: 'Loan and Line of Credit', label: 'Loan and Line of Credit' },
                    { value: 'Expected Payments from Customers', label: 'Expected Payments from Customers' },
                    { value: 'Due for Payroll', label: 'Due for Payroll' },
                    { value: 'Due to You and Other Business owners', label: 'Due to You and Other Business owners' },
                    { value: 'Customer Prepayments and Customer Credits', label: 'Customer Prepayments and Customer Credits' },
                    { value: 'Other Short-Term Liability', label: 'Other Short-Term Liability' },
                    { value: 'Other Long-Term Liability', label: 'Other Long-Term Liability' },
                ],
            },
            {
                label: 'Income',
                disabled: false,
                choices: [
                    { value: 'Income', label: 'Income' },
                    { value: 'Discount', label: 'Discount' },
                    { value: 'Other Income', label: 'Other Income' },
                ],
            },
            {
                label: 'Expenses',
                disabled: false,
                choices: [
                    { value: 'Operating Expense', label: 'Operating Expense' },
                    { value: 'Cost of Goods Sold', label: 'Cost of Goods Sold' },
                    { value: 'Payment Processing Fee', label: 'Payment Processing Fee' },
                    { value: 'Payroll Expense', label: 'Payroll Expense' },
                ],
            },
            {
                label: 'Equity',
                disabled: false,
                choices: [
                    { value: 'Business owner Contribution and Drawing', label: 'Business owner Contribution and Drawing' },
                    { value: 'Retained Earnings: Profit', label: 'Retained Earnings: Profit' },
                ],
            },
        ]
        const dataSeedCustomers = [
            { value: '1', label: 'Adian' },
            { value: '2', label: 'Alfian' },
        ]

        // choice
        const initCategory = (query) => {
            // category
            const elCategory = document.querySelector(query)
            const elCategoryChoice = new Choices(elCategory, { itemSelectText: '' })
            elCategoryChoice.setChoices(dataSeedAccount)
        }
        const initChoice = () => {
            // deposit or withdrawal
            const elDeporwith = document.querySelector('#input-deporwith')
            new Choices(elDeporwith)

            // account
            const elAccount = document.querySelector('#input-account')
            const elAccountChoice = new Choices(elAccount, { itemSelectText: '' })
            elAccountChoice.setChoices(dataSeedAccount)

            // 
            initCategory('#input-category')
        }

        // datepicker
        const initDatepicker = () => {
            const els = document.querySelectorAll('.datepicker')
            els.forEach((el) => new Pikaday({
                field: el,
                format: 'DD-MM-YYYY',
                toString(date, format) {
                    // you should do formatting based on the passed format,
                    // but we will just return 'D/M/YYYY' for simplicity
                    const day = ('0' + date.getDate()).slice(-2);
                    const month = ('0' + (date.getMonth() + 1)).slice(-2);
                    const year = date.getFullYear();
                    return `${day}-${month}-${year}`;
                },
            }))
        }

        // actions
        const removeCustomer = (e)  => {
            const parent = e.target.parentElement.parentElement
            const index = (parent.dataset.index || 0)
            parent.childNodes[4].remove()
            const actions = parent.querySelector('.actions')
            actions.innerHTML = `
                <a href="#" class="add-customer tw-text-sm">Add customer</a>
            `
            actions.querySelector('.add-customer').addEventListener('click', addCustomer)
            e.preventDefault()
        }
        const addCustomer = (e) => {
            const parent = e.target.parentElement.parentElement
            const index = (parent.dataset.index || 0) + 1
            const div = document.createElement('div')
            div.classList.add('form-group')
            div.classList.add('row')
            div.classList.add('my-2')
            div.innerHTML = `
                <label class="col-sm-4 col-form-label text-md-end">Customer</label>
                <div class="col-md-4">
                    <select class="choices form-select" name="customer[${index}]">
                        <option value="">Select customer---</option>
                    </select>
                </div>
            `
            parent.appendChild(div)
            e.target.remove()
            const elChoice = div.querySelector('.choices')
            const elChoiceA = new Choices(elChoice)
            elChoiceA.setChoices(dataSeedCustomers)

            const actions = parent.querySelector('.actions')
            actions.innerHTML = `
                <a href="#" class="remove-customer tw-text-sm">Remove customer</a>
            `
            const bekup = actions
            actions.remove()
            parent.appendChild(actions)
            actions.querySelector('.remove-customer').addEventListener('click', removeCustomer)
            e.preventDefault()
        }
        const initActions = () => {
            const addCustomers = document.querySelectorAll('.add-customer')
            // addCustomers.removeEventListener('click')
            addCustomers.forEach(function (e) {
                if (typeof e.removeEventListener == 'function') {
                    e.removeEventListener('click', addCustomer)
                }
                e.addEventListener('click', addCustomer)
            })
        }

        // init
        document.addEventListener('DOMContentLoaded', function () {
            initChoice()
            initDatepicker()
            initActions()
        })
    </script>
{% endblock %}