{% set title = 'Purchases - Product & Services - Edit' %}
{% set filename = 'purchases-product-services-edit' %}
{% extends 'layouts/dashboard.html' %}

{% block content %}
    <div class="container">
        <!-- content-header -->
        <div class="content-header">
            <div class="tw-flex tw-justify-between">
                <div class="title">
                    Edit Product
                </div>
                <div class="actions">
                    <a href="purchases-product-services.html" class="btn btn-primary">
                        Save and Continue
                    </a>
                </div>
            </div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item">Purchases</li>
                    <li class="breadcrumb-item"><a href="purchases-product-services.html">Product & Services</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit</li>
                </ol>
            </nav>
        </div>
        <!-- content-header:end -->
        <!-- content -->
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <div class="mt-2">
                        <p>
                            Products and services that you buy from vendors are used as items on Bills to record those purchases, and the ones that you sell to customers are used as items on Invoices to record those sales.
                        </p>
                        <div class="form-group row my-2">
                            <label class="col-sm-4 col-form-label text-md-end">Name</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Name..." value="Aqua Water Mineral 1L">
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <label class="col-sm-4 col-form-label text-md-end">Description</label>
                            <div class="col-md-4">
                                <textarea class="form-control" placeholder="Description...">Description your product</textarea>
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <label class="col-sm-4 col-form-label text-md-end">Price</label>
                            <div class="col-md-4">
                                <input type="number" class="form-control" placeholder="Price..." value="3000">
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <label class="col-sm-4 col-form-label text-md-end">Sell this</label>
                            <div class="col-md-4">
                                <div class="form-check mt-2">
                                    <input class="form-check-input" type="checkbox" value="" id="input-income-account" checked>
                                    <label class="form-check-label text-muted tw-text-xs" for="flexCheckDefault">
                                        Allow this product or service to be added to Invoices.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row my-2" id="form-group-income-account">
                            <label class="col-sm-4 col-form-label text-md-end">Income account</label>
                            <div class="col-md-4">
                                <select class="choices choice-default form-select">
                                    <option value="" placeholder>Select--</option>
                                    <option value="1" selected>Product Sales</option>
                                    <option value="2">Sales</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <label class="col-sm-4 col-form-label text-md-end">Buy this</label>
                            <div class="col-md-4">
                                <div class="form-check mt-2">
                                    <input class="form-check-input" type="checkbox" value="" id="input-expense-account" checked>
                                    <label class="form-check-label text-muted tw-text-xs" for="flexCheckDefault">
                                        Allow this product or service to be added to Bills.
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row my-2" id="form-group-expense-account">
                            <label class="col-sm-4 col-form-label text-md-end">Expense account</label>
                            <div class="col-md-4">
                                <select class="choices choice-default form-select">
                                    <option value="" placeholder>Select--</option>
                                    <option value="1" selected>Accounting Fees</option>
                                    <option value="2">Office Suplies</option>
                                    <option value="3">Utilities</option>
                                    <option value="4">Vehicle Fuel</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <label class="col-sm-4 col-form-label text-md-end">Sales tax</label>
                            <div class="col-md-4">
                                <select id="input-tax" class="choices form-select" multiple>
                                    <option value="" placeholder>Select tax</option>
                                    <option value="1" selected>Tax 1</option>
                                    <option value="2" selected>Tax 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <div class="offset-md-4 col-md-4">
                                <a href="sales-product-services.html" class="btn btn-primary">
                                    Save and Continue
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- content:end -->
    </div>
{% endblock %}


{% block stylesPlugin %}
    <!-- style:plugin -->
    <link rel="stylesheet" href="../vendor/choices.js/styles/choices.min.css">
    <link rel="stylesheet" href="../vendor/pikaday/css/pikaday.css">    
{% endblock %}

{% block scriptsPlugin %}
    <!-- script:plugin -->
    <script src="../vendor/choices.js/scripts/choices.min.js"></script>
    <script src="../vendor/pikaday/pikaday.js"></script>
    <script src="../vendor/moment/moment.js"></script>
{% endblock %}

{% block scripts %}
    <!-- script:page - you can remove this -->
    <script>
        // choice
        const initChoice = () => {
            const el = document.querySelector('#input-tax')
            const a = new Choices(el, {
                removeItemButton: true
            })
            const els = document.querySelectorAll('.choices.choice-default')
            els.forEach(function (el) {
                new Choices(el)
            })
        }
        // datepicker
        const initDatepicker = () => {
            const els = document.querySelectorAll('.datepicker')
            els.forEach((el) => new Pikaday({
                field: el,
                format: 'DD-MM-YYYY',
                toString(date, format) {
                    // you should do formatting based on the passed format,
                    // but we will just return 'D/M/YYYY' for simplicity
                    const day = ('0' + date.getDate()).slice(-2);
                    const month = ('0' + (date.getMonth() + 1)).slice(-2);
                    const year = date.getFullYear();
                    return `${day}-${month}-${year}`;
                },
            }))
        }
        // action
        const initActions = () => {
            const elFormGroupIncome = document.querySelector('#form-group-income-account')
            const elFormGroupExpense = document.querySelector('#form-group-expense-account')
            const elInputIncome = document.querySelector('#input-income-account')
            const elInputExpense = document.querySelector('#input-expense-account')
            const eventInputCheckIncome = () => elFormGroupIncome.style.display = elInputIncome.checked ? 'flex' : 'none'
            const eventInputCheckExpense = () => elFormGroupExpense.style.display = elInputExpense.checked ? 'flex' : 'none'

            // add eventListnner
            elInputIncome.addEventListener('click', eventInputCheckIncome)
            elInputExpense.addEventListener('click', eventInputCheckExpense)

            // on mounted
            eventInputCheckIncome()
            eventInputCheckExpense()
        }

        // init
        document.addEventListener('DOMContentLoaded', function () {
            initChoice()
            initDatepicker()
            initActions()
        })
    </script>
{% endblock %}