{% set title = 'Purchases - Bills' %}
{% set filename = 'purchases-bills' %}
{% extends 'layouts/dashboard.html' %}

{% block content %}
    <div class="container">
        <!-- content-header -->
        <div class="content-header">
            <div class="tw-flex tw-flex-col lg:tw-flex-row lg:tw-justify-between">
                <div class="title">
                    Bills
                </div>
                <a href="purchases-bills-create.html" class="btn btn-primary">
                    Create a bill
                </a>
            </div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item">Purchases</li>
                    <li class="breadcrumb-item active" aria-current="page">Bills</li>
                </ol>
            </nav>
        </div>
        <!-- content-header:end -->
        <!-- content -->
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <!-- table -->
                    <div class="mt-2">
                        <form action="#" class="mb-4">
                            <!-- <div class="tw-font-semibold">Filter :</div> -->
                            <div class="row gx-2">
                                <div class="col-md-6 col-lg-3 form-group my-1">
                                    <select id="input-filter-customer" class="choices form-select">
                                        <option value="">All Vendors</option>
                                        <option value="1">Vendor 1</option>
                                        <option value="2">Vendor 2</option>
                                    </select>
                                </div>
                                <div class="col-md-6 col-lg-3 form-group my-1">
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="fh-16" data-feather="calendar"></i></span>
                                        <input id="input-filter-datepicker-from" type="text" class="form-control datepicker" placeholder="From...">
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 form-group my-1">
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="fh-16" data-feather="calendar"></i></span>
                                        <input id="input-filter-datepicker-to" type="text" class="form-control datepicker" placeholder="To...">
                                    </div>
                                </div>
                            </div>
                        </form> 
                        <table id="table-invoices" class="table table-hover table-stripped"></table>
                    </div>
                </div>
            </div>
        </div>
        <!-- content:end -->
    </div>
{% endblock %}


{% block stylesPlugin %}
    <!-- style:plugin -->
    <!-- <link rel="stylesheet" href="../vendor/datatables/css/jquery.dataTables.min.css"> -->
    <link rel="stylesheet" href="../vendor/datatables/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="../vendor/datatables/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="../vendor/choices.js/styles/choices.min.css">
    <link rel="stylesheet" href="../vendor/pikaday/css/pikaday.css">    
{% endblock %}

{% block scriptsPlugin %}
    <!-- script:plugin -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="../vendor/datatables/js/dataTables.bootstrap5.min.js"></script>
    <script src="../vendor/datatables/js/dataTables.responsive.min.js"></script>
    <script src="../vendor/choices.js/scripts/choices.min.js"></script>
    <script src="../vendor/pikaday/pikaday.js"></script>
    <script src="../vendor/moment/moment.js"></script>
{% endblock %}

{% block scripts %}
    <!-- script:page - you can remove this -->
    <script>
        // variables
        let filter = {
            customer: null,
            status: null,
            to: null,
            from: null
        }

        // choice
        const initChoice = () => {
            const els = document.querySelectorAll('.choices')
            els.forEach((el) => (new Choices(el)))
        }
        // datepicker
        const initDatepicker = () => {
            const els = document.querySelectorAll('.datepicker')
            els.forEach((el) => new Pikaday({
                field: el,
                format: 'DD-MM-YYYY',
                toString(date, format) {
                    // you should do formatting based on the passed format,
                    // but we will just return 'D/M/YYYY' for simplicity
                    const day = ('0' + date.getDate()).slice(-2);
                    const month = ('0' + (date.getMonth() + 1)).slice(-2);
                    const year = date.getFullYear();
                    return `${day}-${month}-${year}`;
                },
            }))
        }
        // filter input
        const initFilterData = (filter) => {
            const filterEl = {
                customer: document.getElementById('input-filter-customer'),
                status: document.getElementById('input-filter-status'),
                to: document.getElementById('input-filter-datepicker-to'),
                from: document.getElementById('input-filter-datepicker-from')
            }
        }
        // datatables
        const initTable = () => {
            $('#table-invoices').DataTable({
                responsive: true,
                autoWidth: false,
                order: [[0, 'asc']],
                columnDefs: [
                    { orderable: false, targets: [6] }
                ],
                columns: [
                    { title: '#', data: 'id', render: (data, type, row, meta) => meta.row + meta.settings._iDisplayStart + 1 },
                    { title: 'Date', data: 'date' },
                    { title: 'Number', data: 'number' },
                    { title: 'Vendor', data: 'vendor' },
                    { title: 'Amount Due', data: 'amount_due' },
                    { title: 'Payment_status', data: 'payment_status' },
                    {
                        title: 'Actions',
                        data: null,
                        render: (data, type, row) => `
                        <div>
                            <a class="btn btn-sm btn-link">
                                Record payment
                            </a>
                            <a href="sales-invoices-edit.html" class="btn btn-sm btn-outline-warning">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-danger">
                                <i class="bi bi-trash"></i>
                            </a>
                        </div>
                        `
                    },
                ],
                data: [
                    {
                        id: 1,
                        date: '2021-01-20',
                        number: 1,
                        vendor: 'Vendor 1',
                        amount_due: 5000,
                        payment_status: 'Paid'
                    }
                ]
            });
        }


        // init
        document.addEventListener('DOMContentLoaded', function () {
            initChoice()
            initDatepicker()
            initFilterData(filter)
            initTable()
        })
    </script>
{% endblock %}