{% set title = 'Sales - Invoices - Create' %}
{% set filename = 'sales-invoices-create' %}
{% extends 'layouts/dashboard.html' %}

{% block content %}
    <div class="container">
        <!-- content-header -->
        <div class="content-header">
            <div class="tw-flex tw-justify-between">
                <div class="title">
                    Create Invoice
                </div>
            </div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item">Sales</li>
                    <li class="breadcrumb-item active" aria-current="page">Invoices</li>
                </ol>
            </nav>
        </div>
        <!-- content-header:end -->
        <!-- content -->
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">General Information</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <div class="form-group row mb-1">
                                        <div class="col-sm-1 tw-hidden lg:tw-block"></div>
                                        <label for="input-customer" class="col-sm-4 col-md-4 col-lg-3 col-form-label">Customer</label>
                                        <div class="col-lg-6 col-md-8 col-sm-8">
                                            <select id="input-customer" class="choices form-select"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group row mb-1">
                                        <label for="input-invoice-number" class="col-sm-4 col-form-label text-md-right">
                                            Invoice number
                                        </label>
                                        <div class="col-sm-8 col-md-8">
                                            <input type="text" id="input-invoice-number" class="form-control" value="1">
                                        </div>
                                    </div>
                                    <div class="form-group row mb-1">
                                        <label for="input-invoice-number" class="col-sm-4 col-form-label text-md-right">
                                            P.O./S.O. number
                                        </label>
                                        <div class="col-sm-8 col-md-8">
                                            <input type="text" id="input-po-so-number" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row mb-1">
                                        <label for="input-invoice-number" class="col-sm-4 col-form-label text-md-right">
                                            Invoice date
                                        </label>
                                        <div class="col-sm-8 col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-text"><i class="fh-16" data-feather="calendar"></i></span>
                                                <input id="input-filter-datepicker-from" type="text" class="form-control datepicker" placeholder="From...">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-1">
                                        <label for="input-invoice-number" class="col-sm-4 col-form-label text-md-right">
                                            Payment due
                                        </label>
                                        <div class="col-sm-8 col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-text"><i class="fh-16" data-feather="calendar"></i></span>
                                                <input id="input-filter-datepicker-from" type="text" class="form-control datepicker" placeholder="From...">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">Item Table</div>
                        <div class="card-body table-responsive p-0">
                            <table class="table table-stripped table-border">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Item</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                        <th>Amount</th>
                                        <th>
                                            ...
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <select name="item[0]" class="choices choice-item form-select"></select>
                                        </td>
                                        <td>
                                            <input type="text" name="quantity[0]" class="form-control">
                                        </td>
                                        <td>
                                            <input type="text" name="price[0]" class="form-control">
                                        </td>
                                        <td>
                                            <input type="text" name="amount[0]" class="form-control">
                                        </td>
                                        <td>
                                            btn
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content:end -->
    </div>
{% endblock %}


{% block stylesPlugin %}
    <!-- style:plugin -->
    <link rel="stylesheet" href="../vendor/choices.js/styles/choices.min.css">
    <link rel="stylesheet" href="../vendor/pikaday/css/pikaday.css">    
{% endblock %}

{% block scriptsPlugin %}
    <!-- script:plugin -->
    <script src="../vendor/choices.js/scripts/choices.min.js"></script>
    <script src="../vendor/pikaday/pikaday.js"></script>
    <script src="../vendor/moment/moment.js"></script>
{% endblock %}

{% block scripts %}
    <!-- script:page - you can remove this -->
    <script>
        // variable
        const dataCustomers = [
            { id: 1, name: 'Alfian' },
            { id: 2, name: 'Adian' },
        ]


        // choice
        const initChoice = () => {
            const el = document.querySelector('.choices#input-customer')
            const elC = (new Choices(el))
            const data = [];

            dataCustomers.forEach((e) => data.push({
                value: e.id,
                label: e.name,
            }))

            // set data
            elC.setChoices(data)
        }
        // datepicker
        const initDatepicker = () => {
            const els = document.querySelectorAll('.datepicker')
            els.forEach((el) => new Pikaday({
                field: el,
                format: 'DD-MM-YYYY',
                toString(date, format) {
                    // you should do formatting based on the passed format,
                    // but we will just return 'D/M/YYYY' for simplicity
                    const day = ('0' + date.getDate()).slice(-2);
                    const month = ('0' + (date.getMonth() + 1)).slice(-2);
                    const year = date.getFullYear();
                    return `${day}-${month}-${year}`;
                },
            }))
        }

        // init
        document.addEventListener('DOMContentLoaded', function () {
            initChoice()
            initDatepicker()
        })
    </script>
{% endblock %}