{% set title = 'Sales - Invoices' %}
{% set filename = 'sales-invoices' %}
{% extends 'layouts/dashboard.html' %}

{% block content %}
    <div class="container">
        <!-- content-header -->
        <div class="content-header">
            <div class="tw-flex tw-justify-between">
                <div class="title">
                    Invoices
                </div>
                <button class="btn btn-primary">
                    Create an invoice
                </button>
            </div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item">Sales</li>
                    <li class="breadcrumb-item active" aria-current="page">Invoices</li>
                </ol>
            </nav>
        </div>
        <!-- content-header:end -->
        <!-- content -->
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">Invoices</div>
                        <div class="card-body">
                            <!-- filters -->
                            <form action="#">
                                <div class="row gx-2">
                                    <div class="col-3 form-group">
                                        <select id="input-filter-customer" class="choices-default form-select">
                                            <option value="">All Customer</option>
                                            <option value="1">Alfian</option>
                                            <option value="2">Adian</option>
                                        </select>
                                    </div>
                                    <div class="col-3 form-group">
                                        <select id="input-filter-status" class="choices-default form-select">
                                            <option value="">All Status</option>
                                            <option value="1">Draft</option>
                                            <option value="2">Unsent</option>
                                            <option value="3">Sent</option>
                                        </select>
                                    </div>
                                    <div class="col-4 form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text"><i class="fh-16" data-feather="calendar"></i></span>
                                            <input id="input-filter-datepicker-from" type="text" class="form-control datepicker" placeholder="From..." value="01-01-2021">
                                            <span class="input-group-text"><i class="fh-16" data-feather="calendar"></i></span>
                                            <input id="input-filter-datepicker-to" type="text" class="form-control datepicker" placeholder="To..." value="01-01-2021">
                                        </div>
                                    </div>
                                    <div class="col-2 form-group">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search #invoices...">
                                            <button class="btn btn-info" type="button"><i class="fh-16" data-feather="search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content:end -->
    </div>
{% endblock %}


{% block stylesPlugin %}
    <!-- style:plugin -->
    <link rel="stylesheet" href="../vendor/choices.js/styles/choices.min.css">
    <link rel="stylesheet" href="../vendor/pikaday/css/pikaday.css">    
{% endblock %}

{% block scriptsPlugin %}
    <!-- script:plugin -->
    <script src="../vendor/choices.js/scripts/choices.min.js"></script>
    <script src="../vendor/pikaday/pikaday.js"></script>
    <script src="../vendor/moment/moment.js"></script>
{% endblock %}

{% block scripts %}
    <!-- script:page - you can remove this -->
    <script>
        // choice
        const initChoice = () => {
            const els = document.querySelectorAll('.choices-default')
            els.forEach((el) => new Choices(el))
        }
        // datepicker
        const initDatepicker = () => {
            const els = document.querySelectorAll('.datepicker')
            els.forEach((el) => new Pikaday({
                field: el,
                format: 'DD-MM-YYYY',
                toString(date, format) {
                    // you should do formatting based on the passed format,
                    // but we will just return 'D/M/YYYY' for simplicity
                    const day = ('0' + date.getDate()).slice(-2);
                    const month = ('0' + (date.getMonth() + 1)).slice(-2);
                    const year = date.getFullYear();
                    return `${day}-${month}-${year}`;
                },
            }))
        }

        // init
        initChoice()
        initDatepicker()
    </script>
{% endblock %}