{% set title = 'Sales - Invoices - Create' %}
{% set filename = 'sales-invoices-create' %}
{% extends 'layouts/dashboard.html' %}

{% block content %}
    <div class="container">
        <!-- content-header -->
        <div class="content-header">
            <div class="tw-flex tw-justify-between">
                <div class="title">
                    Create Invoice
                </div>
                <div class="actions">
                    <a href="sales-invoices.html" class="btn btn-outline-secondary">
                        <i class="bi bi-eye"></i>
                        <span class="tw-hidden lg:tw-inline">Preview</span>
                    </a>
                    <a href="sales-invoices.html" class="btn btn-primary">
                        <i class="bi bi-save"></i>
                        <span class="tw-hidden lg:tw-inline">Save invoice and continue</span>
                    </a>
                </div>
            </div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item">Sales</li>
                    <li class="breadcrumb-item"><a href="sales-invoices.html">Invoices</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Create</li>
                </ol>
            </nav>
        </div>
        <!-- content-header:end -->
        <!-- content -->
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <!-- header -->
                    <div class="accordion tw-shadow mb-4" id="accordionHeader">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                    Business address and contact details, title, summary, and logo
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#accordionHeader">
                                <div class="accordion-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="logo-box-upload">
                                                <input type="file" name="logo" style="display: none;">
                                                <div class="preview">
                                                    <img src="">
                                                </div>
                                                <div class="icon">
                                                    <img src="../dist/img/icon--upload.svg">
                                                </div>
                                                <div class="title">Browse or drop your logo here.</div>
                                                <div class="description">
                                                    Recommended size 300x200 pixels.
                                                </div>
                                            </div>
                                            <div class="logo-box-upload-actions"><a href="#" class="remove-logo-btn">Remove logo</a></div>
                                        </div>
                                        <div class="col-md-6 row">
                                            <div class="col-md-9 offset-md-3">
                                                <div class="form-group row mb-1">
                                                    <input type="text" class="form-control form-control-lg text-end" placeholder="Invoice Title" value="Invoice">
                                                </div>
                                                <div class="form-group row mb-1">
                                                    <input type="text" class="form-control text-end" placeholder="Summary (e.g. project name, description of invoice)">
                                                </div>
                                                <div class="text-end mt-2">
                                                    <p class="mb-0"><b>Retail 123</b></p>
                                                    <p class="mb-0">United States</p>
                                                </div>
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- main -->
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <div class="form-group row mb-1">
                                        <div class="col-sm-1 tw-hidden lg:tw-block"></div>
                                        <label for="input-customer" class="col-sm-4 col-md-4 col-lg-3 col-form-label">Customer</label>
                                        <div class="col-lg-6 col-md-8 col-sm-8">
                                            <select id="input-customer" class="choices form-select">
                                                <option value="" placeholder>Select customer</option>
                                                <option value="1">Alfian</option>
                                                <option value="2">Adian</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group row mb-1">
                                        <label for="input-invoice-number" class="col-sm-4 col-form-label text-md-right">
                                            Invoice number
                                        </label>
                                        <div class="col-sm-8 col-md-8">
                                            <input type="text" id="input-invoice-number" class="form-control" value="1">
                                        </div>
                                    </div>
                                    <div class="form-group row mb-1">
                                        <label for="input-invoice-number" class="col-sm-4 col-form-label text-md-right">
                                            P.O./S.O. number
                                        </label>
                                        <div class="col-sm-8 col-md-8">
                                            <input type="text" id="input-po-so-number" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row mb-1">
                                        <label for="input-invoice-number" class="col-sm-4 col-form-label text-md-right">
                                            Invoice date
                                        </label>
                                        <div class="col-sm-8 col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-text"><i class="fh-16" data-feather="calendar"></i></span>
                                                <input id="input-filter-datepicker-from" type="text" class="form-control datepicker" placeholder="From...">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-1">
                                        <label for="input-invoice-number" class="col-sm-4 col-form-label text-md-right">
                                            Payment due
                                        </label>
                                        <div class="col-sm-8 col-md-8">
                                            <div class="input-group">
                                                <span class="input-group-text"><i class="fh-16" data-feather="calendar"></i></span>
                                                <input id="input-filter-datepicker-from" type="text" class="form-control datepicker" placeholder="From...">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <table class="table table-stripped m-0">
                                <thead>
                                    <tr>
                                        <th width="2%"></th>
                                        <th width="50%">Item Name</th>
                                        <th width="10%">Quantity</th>
                                        <th width="10%">Price</th>
                                        <th width="10%" class="text-end">Amount</th>
                                        <th width="5%" class="text-center">
                                            ...
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <select name="item[0]" class="choices choice-item">
                                                <option value="" placeholder>Select item</option>
                                                <option value="1">Aqua Mineral Water 1L</option>
                                                <option value="2">Pocari Sweet 1L</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="number" name="quantity[0]" class="form-control" value="1">
                                        </td>
                                        <td>
                                            <input type="number" name="price[0]" class="form-control" value="1000">
                                        </td>
                                        <td class="text-end">
                                            Rp1.000
                                        </td>
                                        <td class="text-center">
                                            <a href="btn btn-link btn-link-danger">
                                                <i class="bi bi-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" class="text-center p-0">
                                            <a class="btn btn-link">
                                                <i class="bi bi-plus-circle-dotted"></i>
                                                Add an item
                                            </a>
                                        </td> 
                                    </tr>
                                    <tr class="tw-font-bold">
                                        <td colspan="4" class="text-end">
                                            Total :
                                        </td>
                                        <td class="text-end">
                                            Rp1.000
                                        </td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Notes / Terms</label>
                                <div class="mt-2">
                                    <textarea class="form-control card-input" style="padding: 0 !important;" name="note" cols="30" rows="5" placeholder="Enter a note for this invoice"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- footer -->
                    <div class="accordion tw-shadow mb-4" id="accordionHeader">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                    Footer
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#accordionHeader">
                                <div class="accordion-body p-0">
                                    <textarea class="form-control no-rounded" name="footer" cols="30" rows="5" placeholder="Enter a footer for this invoice"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- actions -->
                    <div class="mb-4 text-end">
                        <a href="sales-invoices.html" class="btn btn-outline-secondary">
                            Preview
                        </a>
                        <a href="sales-invoices.html" class="btn btn-primary">
                            Save invoice and continue
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- content:end -->
    </div>
{% endblock %}


{% block stylesPlugin %}
    <!-- style:plugin -->
    <link rel="stylesheet" href="../vendor/choices.js/styles/choices.min.css">
    <link rel="stylesheet" href="../vendor/pikaday/css/pikaday.css">    
{% endblock %}

{% block scriptsPlugin %}
    <!-- script:plugin -->
    <script src="../vendor/choices.js/scripts/choices.min.js"></script>
    <script src="../vendor/pikaday/pikaday.js"></script>
    <script src="../vendor/moment/moment.js"></script>
{% endblock %}

{% block scripts %}
    <!-- script:page - you can remove this -->
    <script>
        // choice
        const initChoice = () => {
            const els = document.querySelectorAll('.choices')
            els.forEach((el) => new Choices(el))
        }
        // datepicker
        const initDatepicker = () => {
            const els = document.querySelectorAll('.datepicker')
            els.forEach((el) => new Pikaday({
                field: el,
                format: 'DD-MM-YYYY',
                toString(date, format) {
                    // you should do formatting based on the passed format,
                    // but we will just return 'D/M/YYYY' for simplicity
                    const day = ('0' + date.getDate()).slice(-2);
                    const month = ('0' + (date.getMonth() + 1)).slice(-2);
                    const year = date.getFullYear();
                    return `${day}-${month}-${year}`;
                },
            }))
        }

        const initLogoUploader = () => {
            const el = document.querySelector('.logo-box-upload')
            const input = el.querySelector('input[type=file]')
            const actions = document.querySelector('.logo-box-upload-actions')
            const removeBtn = document.querySelector('.remove-logo-btn')
            const preview = el.querySelector('.preview img')
            preview.style.display = 'none'
            const updateFile = (e) => {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        preview.setAttribute('src', e.target.result)
                    }
                    reader.readAsDataURL(input.files[0]);
                    actions.style.display = 'inline-block'
                    preview.style.display = 'block'
                } else {
                    actions.style.display = 'none'
                    preview.setAttribute('src', '')
                    preview.style.display = 'none'
                }
            }
            actions.style.display = 'none'
            el.addEventListener('click', function (e) {
                input.click()
            })
            input.addEventListener('change', updateFile)
            removeBtn.addEventListener('click', function (e) {
                input.value = '';
                updateFile(input)
            })
        }

        // init
        document.addEventListener('DOMContentLoaded', function () {
            initLogoUploader()
            initChoice()
            initDatepicker()
        })
    </script>
{% endblock %}