{% set title = 'Sales - Invoices' %}
{% set filename = 'sales-invoices' %}
{% extends 'layouts/dashboard.html' %}

{% block content %}
    <div class="container">
        <!-- content-header -->
        <div class="content-header">
            <div class="tw-flex tw-justify-between">
                <div class="title">
                    Invoices
                </div>
                <a href="sales-invoices-create.html" class="btn btn-primary">
                    Create an invoice
                </a>
            </div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item">Sales</li>
                    <li class="breadcrumb-item active" aria-current="page">Invoices</li>
                </ol>
            </nav>
        </div>
        <!-- content-header:end -->
        <!-- content -->
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card card-custom">
                        <div class="card-header">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="fw-bolder tw-text-gray-700 fs-5">
                                    Invoices
                                </span>
                            </h3>
                        </div>
                        <div class="card-body">
                            <!-- filters -->
                            <form action="#">
                                <div class="tw-font-semibold">Filter :</div>
                                <div class="row gx-2">
                                    <div class="col-md-6 col-lg-3 form-group my-1">
                                        <select id="input-filter-customer" class="choices form-select">
                                            <option value="">All Customer</option>
                                            <option value="1">Alfian</option>
                                            <option value="2">Adian</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 col-lg-3 form-group my-1">
                                        <select id="input-filter-status" class="choices form-select">
                                            <option value="">All Status</option>
                                            <option value="1">Draft</option>
                                            <option value="2">Unsent</option>
                                            <option value="3">Sent</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 col-lg-3 form-group my-1">
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fh-16" data-feather="calendar"></i></span>
                                            <input id="input-filter-datepicker-from" type="text" class="form-control datepicker" placeholder="From...">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-3 form-group my-1">
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fh-16" data-feather="calendar"></i></span>
                                            <input id="input-filter-datepicker-to" type="text" class="form-control datepicker" placeholder="To...">
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- table -->
                            <div class="mt-4">
                                <ul class="nav nav-tabs mb-4">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="#">All Invoices</a>
                                    </li>
                                </ul>
                                <div class="table-responsive">
                                    <table id="table-invoices" class="table card-table"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content:end -->
    </div>
{% endblock %}


{% block stylesPlugin %}
    <!-- style:plugin -->
    <!-- <link rel="stylesheet" href="../vendor/datatables/css/jquery.dataTables.min.css"> -->
    <link rel="stylesheet" href="../vendor/datatables/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="../vendor/datatables/css/responsive.css">
    <link rel="stylesheet" href="../vendor/choices.js/styles/choices.min.css">
    <link rel="stylesheet" href="../vendor/pikaday/css/pikaday.css">    
{% endblock %}

{% block scriptsPlugin %}
    <!-- script:plugin -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="../vendor/datatables/js/dataTables.bootstrap5.min.js"></script>
    <script src="../vendor/datatables/js/responsive.js"></script>
    <script src="../vendor/choices.js/scripts/choices.min.js"></script>
    <script src="../vendor/pikaday/pikaday.js"></script>
    <script src="../vendor/moment/moment.js"></script>
{% endblock %}

{% block scripts %}
    <!-- script:page - you can remove this -->
    <script>
        // variables
        let filter = {
            customer: null,
            status: null,
            to: null,
            from: null
        }

        // choice
        const initChoice = () => {
            const els = document.querySelectorAll('.choices')
            els.forEach((el) => console.log(new Choices(el)))
        }
        // datepicker
        const initDatepicker = () => {
            const els = document.querySelectorAll('.datepicker')
            els.forEach((el) => new Pikaday({
                field: el,
                format: 'DD-MM-YYYY',
                toString(date, format) {
                    // you should do formatting based on the passed format,
                    // but we will just return 'D/M/YYYY' for simplicity
                    const day = ('0' + date.getDate()).slice(-2);
                    const month = ('0' + (date.getMonth() + 1)).slice(-2);
                    const year = date.getFullYear();
                    return `${day}-${month}-${year}`;
                },
            }))
        }
        // filter input
        const initFilterData = (filter) => {
            const filterEl = {
                customer: document.getElementById('input-filter-customer'),
                status: document.getElementById('input-filter-status'),
                to: document.getElementById('input-filter-datepicker-to'),
                from: document.getElementById('input-filter-datepicker-from')
            }
        }
        // datatables
        const initTable = () => {
            $('#table-invoices').DataTable({
                order: [[0, 'asc']],
                columnDefs: [
                    { orderable: false, targets: [7] }
                ],
                columns: [
                    { title: '#', render: (data, type, row, meta) => meta.row + meta.settings._iDisplayStart + 1 },
                    { title: 'Status', data: 'status' },
                    { title: 'Date', data: 'date' },
                    { title: 'Number', data: 'number' },
                    { title: 'Customer', data: 'customer' },
                    { title: 'Total', data: 'total' },
                    { title: 'Amount Due', data: 'amount_due' },
                    {
                        title: 'Actions',
                        data: null,
                        render: (data, type, row) => `
                        <div>
                            <a class="btn btn-sm btn-link">
                                Record payment
                            </a>
                            <a href="sales-invoices-edit.html" class="btn btn-sm btn-outline-warning">
                                <i class="bi bi-pencil" style="font-size: .8rem;"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-danger">
                                <i class="bi bi-trash" style="font-size: .8rem;"></i>
                            </a>
                        </div>
                        `
                    },
                ],
                data: [
                    {
                        id: 1,
                        status: 'Overdue',
                        date: '2021-01-20',
                        number: 1,
                        customer: 'Alfian',
                        total: 5000,
                        amount_due: 5000
                    }
                ]
            });
        }


        // init
        document.addEventListener('DOMContentLoaded', function () {
            initChoice()
            initDatepicker()
            initFilterData(filter)
            initTable()
        })
    </script>
{% endblock %}