<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - {{ app_name }}</title>
    <!-- styles -->
    {% block stylesFirst %}{% endblock %}
    <link rel="stylesheet" href="../dist/css/tailwind.css">
    <link rel="stylesheet" href="../dist/css/bootstrap.css">
    <link rel="stylesheet" href="../vendor/bootstrap-icons/font/bootstrap-icons.css">
    {% block stylesPlugin %}{% endblock %}
    <link rel="stylesheet" href="../dist/css/app.css">
    {% block styles %}{% endblock %}
</head>
<body>
    <!-- dashboard -->
    <div class="dashboard lg:fixed-footer">
        <!-- overlay screen -->
        <div class="overlay">
            <div class="sidebar toggle-sidebar"></div>
            <div class="sidebar-menu toggle-sidebar-menu"></div>
            <div class="loading"><div class="lds-ripple"><div></div><div></div></div></div>
        </div>
        <!-- overlay:end -->
        {% include "partials/sidebar.html" %}
        <!-- main -->
        <div class="main">
            <!-- container -->
            {% block content %}{% endblock %}
            <!-- container:end -->
            <!-- footer -->
            <div class="footer">
                <strong>
                    Copyright © 2021
                    <a href="http://viandwi24.github.io">VianDwi</a>
                    .
                </strong>
                All rights reserved.
                <div class="float-right d-none d-sm-inline-block">
                    <b>Version</b>
                    1.0.0
                </div>
            </div>
            <!-- footer:end -->
        </div>
        <!-- main:end -->
    </div>
    <!-- dashboard:end -->

    <!-- scripts -->
    {% block scriptsFirts %}{% endblock %}
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../vendor/feather-icons/feather.min.js"></script>
    {% block scriptsPlugin %}{% endblock %}
    <script src="../dist/js/app.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>